/* 
COLOR PALETTE:
gold: #cc9901;
yellow: #daa520;
red: #7c0a01;/
maroon: #3d0c01;
dark: #1b1811;
gray: #e5e5e5;
*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.renai-color {
    color: #ca9800;
}

nav {
    padding: 1rem 3rem;
    background-color: #1b1811;
}

#navBar, #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navMenu {
    position: fixed;
    z-index: 1;
    width: 100vw;
    background-color: #1b1811;
    overflow: scroll;
    display: none;

    transition: ease;
}

#navMenu ul {
    padding: 0;
}

.nav-link {
    list-style: none;
}

.nav-link a {
     text-decoration: none;
     font-size: 2rem;
     font-weight: 700;
     color: #cc9901;
}

#menuToggle input {
    display: none;
}

/* #menuToggle input:checked ~ #navMenu {
    display: block;
} */

.menu-icon, .search-icon {
    font-size: 1.5rem;
    color: #cc9901;
}

.logo {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #cc9901;
}

#header {
    margin: 3rem 0;
    height: 80vh;
}

.hero-text h1 {
    font-size: 3.5rem;
}

.hero-text .bold {
    font-weight: 800;
}

.hero-media {
    position: relative;
    padding: 0;
}

.hero-media img {
    border-radius: 10px;
}

.play-btn {
    position: absolute;
    width: 25%;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    margin: auto;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.overlay {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: #1b1811;
    opacity: 95%;
    border-radius: 10px;
}

.play-btn__svg {
    transition: 1s;
    transform: scale(.5);
    transform-origin: center;
    fill: #ca9800;
    opacity: .9;
}

.play-btn:hover .play-btn__svg {
    fill: #ffffff;
    transform: scale(.6);
    opacity: 1;
}

.break {
    height: 3px;
    background-color: #ca9800;
    border-radius: 10px;
}

.dark-container {
    background-color: #1b1811;
}

.count-text {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4.5rem;
    font-weight: 500;
    color: #ca9800;
    margin: 0;
}

.count-name {
    font-size: 1.8rem;
    margin: 0;
}

.yt-cta-btn button,
.fb-cta-btn button,
.blog-cta-btn button,
.donate-cta-btn button {
    border: 0;
    font-size: 1.7rem;
    font-weight: 500;
    color: #ffffff;
    padding: 10px 200px;
}

.yt-cta-btn button {
    background-color: #7c0a01;
}

.fb-cta-btn button {
    background-color: #3B5998;
}

.pgrm-container {
    padding: 50px 0;
    background-color: #e5e5e5 ;
}

.pgrm-card {
    background-color: #ffffff;
    border-radius: 10px;
}

.blog-container {
    background-color: #ffffff;
    padding: 50px 0;
}

.blog-card {
    padding: 0;
    background-color: #e5e5e5;
}

.blog-info {
    color: #ffffff;
    background-color: #1b1811;
    padding: 15px 15px 5px 15px;
}

.blog-date {
    color: #ca9800;
}

.blog-cta-btn button {
    color: #1b1811;
    background-color: #ca9800;
    font-weight: 600;
}

.donate-cta-title {
    background-color: #7c0a01;
    border: 0;
    display: inline-block; 
    padding: 10px 200px;
}

.donate-cta-title h3 {
    font-size: 1.7rem;
    font-weight: 700;
    color: #ffffff; 
    margin: 0;
}

.donate-cta-text {
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 2rem;
}

.swadaqa-text {
    font-size: 1.6rem;
    font-weight: 800;
    line-height: 2.7rem;
    color: #7c0a01;
}

.donate-cta-btn button {
    background-color: #ca9800;
    color: #7c0a01;
    font-weight: 800;
}

.footer {
    background-color: #000000;
}

.footer-brand {
    height: 1.8rem;
    width: auto;
}

.footer-social a {
    padding: 10px;
    margin: 20px 5px 0 0;
    border: solid 1px #ffffff;
    transition: ease .3s;
}

.footer-social i {
    color: #ffffff;
    font-size:1.5rem;
    text-align: center;
    width: 1.6rem;
    transition: ease .3s;
}

.footer-social a:hover {
    background-color: #fff;
}

.footer-social a:hover i  {
    transform: scale(1.1);
    color: #cc9901;
}

.footer-end p {
    font-size: 1.2rem;
    font-weight: 100;
}

.footer-end-renai {
    color: #ca9800;
}

.footer-end-boxdev, .footer-end-renai {
    font-weight: 700;
}

.footer-title {
    font-size: 1.2rem;
    font-weight: 700;
    color: #cc9901;
}

.footer-item {
    text-decoration: none;
    color: #d3d3d3;
    font-weight: 200;
}

.footer-item:hover {
    color: #cc9901;
}


@media (max-width: 768px) {
    .yt-cta-btn button, .fb-cta-btn button, .blog-cta-btn button, .donate-cta-btn button,
    .donate-cta-title {
        padding: 10px 120px;
    }
}

@media (max-width: 576px) {
    .yt-cta-btn button, .fb-cta-btn button, .blog-cta-btn button, .donate-cta-btn button,
    .donate-cta-title {
        padding: 10px 70px;
    }

    nav {
        padding: 1rem 1rem;
    }

    .menu-icon, .search-icon {
        font-size: 1rem;
    }
    
    .logo {
        font-size: 1.2rem;
    }

    .hero-text h1 {
        font-size: 10px;
    }
}

